body {
    background-color: #66D3D3;
    font-size: 11pt;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.5em;
}

#TopBar {
    -webkit-app-region: drag;
    animation: loadAnimate 0.5s linear;
    padding: 1em 0;
}

#TopBar svg {
    margin: auto;
    display: block;
    height: 2em;
}

#IntroDialog {
    padding: 5em 0;
}


#IntroDialog svg, #IntroDialog img {
    display: block;
    width: 8em;
    height: 8em;
    margin: auto auto 5em;
}

#IntroDialog svg {
    fill: #078d92;
}

#IntroDialog img {
    border-radius: 0.5em;
    -webkit-box-shadow: 0 0 0.4em #24506f;
    -moz-box-shadow: 0 0 0.4em #24506f;
    box-shadow: 0 0 0.4em #24506f;
}

#IntroDialog.step1 > div:not(.step1) {
    display: none;
}

#IntroDialog.step2 > div:not(.step2) {
    display: none;
}

main {
    padding: 1em;
    position: relative;
}

@keyframes loadAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
