body {
    background-color: #66D3D3;
    font-size: 11pt;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.5em;
}

button {
    width: 10em;
    background: #28aaba;
    border: 0;
    color: #ffffff;
    padding: 1em;
    line-height: 1em;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.1s, 0.1s background, color;
    border-radius: 0.2em;
    cursor: pointer;
}

button.red {
    background-color: #e55564;
}

#TopBar {
    -webkit-app-region: drag;
    animation: loadAnimate 0.5s linear;
    position: relative;
    height: 4em;
}

#TopBar svg {
    position: absolute;
    left: 1em;
    display: block;
    height: 2em;
    width: 9em;
    top: 1em;
}

#TopBar .avatar {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

#TopBar .avatar img {
    height: 3em;
    width: 3em;
    float: right;
}

#TopBar .avatar .name {
    padding: 1em;
    display: block;
    float: left;
    color: #365454;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

#IntroDialog {
    padding: 5em 0;
}

#IntroDialog svg, #IntroDialog img {
    display: block;
    width: 8em;
    height: 8em;
    margin: auto auto 5em;
}

#IntroDialog svg {
    fill: #078d92;
}

#IntroDialog img {
    border-radius: 0.5em;
    -webkit-box-shadow: 0 0 0.4em #24506f;
    -moz-box-shadow: 0 0 0.4em #24506f;
    box-shadow: 0 0 0.4em #24506f;
}

#IntroDialog.step1 > div:not(.step1) {
    display: none;
}

#IntroDialog.step2 > div:not(.step2) {
    display: none;
}

#Timer {
    padding: 5em 0;
    text-align: center;
}

#Timer .time {
    font-size: 6em;
    font-weight: bold;
    color: #3a5f5f;
}

#Timer .buttons {
    padding-top: 4em;
}

main {
    padding: 1em;
    position: relative;
}

@keyframes loadAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
